<h1>new dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient, collection: Ingredient.all %>
  <%= f.submit "add a dose", class: "btn btn-primary" %>
<% end %>
